:root{
    --background: #FFEEC8;
    --text-color:rgb(236, 69, 27);
}

.header{
    background-color: var(--background);
}

.menu-color{
    color: var(--text-color);
    font-weight: 500;
    font-size: 18px;
}

.header img{
    width: 110px;
    height: 80px;
}

/* .hero-container{ */
    /* background-color: var(--background); */
/* } */

.hero-text h1 span  , .hero-text p{
      color: var(--text-color);
}

.hero-container {
    background-color: var(--background); /* Change this to your desired color */
    width: 100vw; /* Ensure it covers the full viewport width */
    min-height: 90vh; /* Ensure it covers the full viewport height */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}

.delivery-process h2 ,.healthy h2{
color: var(--text-color);
}

.healthy{
    background-color: var(--background);
}

.slider{
background-image: url('../assets/images/bgrd.png');
background-repeat: no-repeat;
background-size: cover; /* Ensures the image covers the entire slider area */
background-position: center; 

}

.p1color{
    background-color: #f8d8c1;
}
.p2color{
    background-color: #f8c49e;
}

.p3color{
    background-color: #dff3c3;
}

.p4color{
    background-color:  #e6eaeb;
}

.p5color{
    background-color: #fdd1b2;
}

.p6color{
    background-color:  #f0ebe0;
}

.footer{
    background-image: url('../assets/images/bgrd2.jpg');
    background-repeat: no-repeat;
background-size: cover; /* Ensures the image covers the entire slider area */
background-position: center; 
}






